# R project

.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Quarto

.quarto/

# Logs

*.log

# OS files

.DS_Store
Thumbs.db

# Editors

.vscode/

# renv (optional)

renv/library/
renv/staging/

/.quarto/
**/*.quarto_ipynb
